# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- Simulación (Datos y Resultados) ---
# Ignoramos los CSVs generados para que no pesen en el repo, 
# pero mantenemos la carpeta /data si quieres
data/*.csv
data/*.log

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Notebooks ---
.ipynb_checkpoints